@media (max-width: 768px) {
  /* Torna o menu hambúrguer visível */
  .menu-toggle {
    display: block; /* Exibe o ícone apenas no modo responsivo */
    font-size: 2em;
    cursor: pointer;
    color: black;
    margin-right: 10px; /* Espaço do lado direito */
  }

  /* Esconde o menu inicialmente */
  nav ul {
    display: none; /* Oculta o menu no início */
    flex-direction: column; /* Itens em coluna */
    background-color: white; /* Fundo branco para o menu */
    position: absolute;
    top: 60px; /* Posicionado abaixo do header */
    right: 0; /* Alinhado à direita */
    width: 100%; /* O menu ocupa toda a largura */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
    z-index: 1000; /* Certifica que fica acima de outros elementos */
  }

  /* Mostra o menu ao clicar no ícone */
  nav ul.show {
    display: flex;
  }

  /* Estilos dos itens no menu */
  nav ul li {
    margin: 10px 0; /* Espaço entre os itens */
    text-align: center; /* Centraliza os itens */
  }

  nav ul li a {
    color: black; /* Cor preta para os links */
    font-size: 1.1em;
    text-decoration: none;
    padding: 10px;
  }

  header {
    justify-content: space-between; /* Alinha a logo e o ícone */
    align-items: center; /* Centraliza verticalmente */
  }
}



/* MAIN */



