body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

header {
  background-color: white; /* Corrigi a variável incorreta */
  color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .logo img {
  height: 70px;
}

nav ul {
  list-style: none;
  display: flex; /* Menu visível em telas grandes */
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: red; /* Corrigi a variável incorreta */
}

/* Menu Hambúrguer */
.menu-toggle {
  display: none; /* Oculto em telas grandes */
  font-size: 2em;
  cursor: pointer;
  color: black;
}

main {
  height: 700px;
  background-color: black;
}